.left-bar {
    background-color: #f4f5f7;
    padding-top: 60px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: 80px;
    height: 100vh;
    width: 300px;
    position: fixed;
    z-index: 1;
}