.task-item {
    background-color: white;
    padding: 6px;
    height: 120px;
    border-radius: 3px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 1px 2px 0 rgba(0, 0, 0, 0.19);
    cursor: grab;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.task-item p {
    text-overflow: ellipsis;
    overflow: hidden;
    height: 200px;
}

.tag {
    background-color: #F5BF68;
    width: 40%;
    font-size: 12px;
    text-align: left;
    padding-left: 5px;
    border-radius: 2px;
}

.points-container {
    width: 37px;
    height: 20px;
    border-radius: 15px;
    background-color: #D8D8D8;
    font-size: 13px;
    text-align: center;
}

.tag + .points-container {
    margin-top: 7px;
}

.task-item + .task-item {
    margin-top: 8px;
}

.task-item p {
    text-align: left;
}

.task-item:active {
    background-color: #e8f1fd;
}