.task-column {
    width: 25%;
    border-radius: 5px;
    height: 400px;
    background-color: #f4f5f7;
}

.column-name-div {
    margin-top: 10px;
    padding-left: 10px;
    display: flex;
}

.tasks-container {
    margin: 8px
}

.column-name-div b + p {
    margin-left: 10px;
}

.task-column + .task-column {
    margin-left: 2%;
}