.link-left-bar {
    height: 50px;
    border-radius: 3px;
    cursor: pointer;
}

.link-name-span {
    height: 100%;
    display: flex;
    align-items: center;
    padding-left: 15px;
}

.link-name-span img {
    width: 25px;
    height: 25px;
    align-self: center;
}

.link-name-span p {
    margin-top: 13px;
    font-size: 18px;
    color: #6A6767;
}

.link-name-span img + p {
    margin-left: 15px;
}

.link-left-bar:hover {
    background-color: #E2E2E2;
}

.link-left-bar:hover p {
   color: #2541B2;
}

.link-left-bar:hover img {
    filter: invert(19%) sepia(56%) saturate(3230%) hue-rotate(222deg) brightness(95%) contrast(96%);
}

.link-left-bar + .link-left-bar {
    margin-top: 5px;
}